<div id="container" style="vertical-align:middle;padding-top:10%;">
  <ul style="list-style: none;">
		<h3 style="text-align:center;">Create a new group</h3>
    <li class="clearfix" style="text-align:center;">
    	<table style="border-spacing:10px 10px;border-collapse: separate;" style="text-align:center;">
    		<tr>
    			<td style="text-align:center;"><input style="max-width:75%;" style="" placeholder="Name" type="text" ng-model="group_name" /></td>
    		</tr>
    		<tr>
    			<td style="text-align:center;"><textarea style="max-width:75%;" placeholder="Description" type="textarea" ng-model="group_description">
    			</textarea></td>
    		</tr>
    		<tr>
    			<td style="text-align:center;"><select ng-model="group_visibility"><option value="private">Private</option><option value="public">Public</option></select></td>
    		</tr>
    		<tr>
    			<td style="text-align:center;"><button style=""  class="btn btn-warning" ng-click="create_group()">Create Group</button></td>
    		</tr>
    	</table>
    </li>
  </ul>
</div>