<h1>Group Details</h1>

Name:  {{ bucket.group.name }} <br />
Description:  {{ bucket.group.description }}<br />
Points:  {{ bucket.group.points }}<br />

Members:<span ng-if="bucket.group.members.length == 0">This group is empty</span> <br />
<span ng-if="bucket.group.members.length != 0">
 	<ul>
		<li ng-repeat="member in $parent.bucket.group.members">
			<a href="#/person/{{member.pk}}">{{ member.name }}</a>
		</li>
	</ul>
</span>

Admins of Group: <span ng-if="bucket.group.admins.length == 0">This group has no admin</span> <br />
<span ng-if="bucket.group.admins.length != 0">
	<ul>
		<li ng-repeat="admin in $parent.bucket.group.admins">
			<a href="#/person/{{admin.pk}}">{{ admin.name }}</a>
		</li>
	</ul>
</span>

<span ng-if="bucket.group.name !== ''"> <a href="#/posts/new/{{bucket.group.pk}}/">Add a new post </a></span><br />
Posts: <span ng-if="bucket.group.posts.length == 0">No posts yet</span> <br />
<span ng-if="bucket.group.posts.length != 0">
	<ul>
		<li ng-repeat="post in $parent.bucket.group.posts">
			{{ post.description }}
		</li>
	</ul>
</span>

<span ng-if="bucket.group.name !== ''"> <a href="#/tasks/new/{{bucket.group.pk}}/">Add a new task </a></span><br />
Tasks: <span ng-if="bucket.group.tasks.length == 0">No tasks started yet</span> <br />
<span ng-if="bucket.group.tasks.length != 0">
	<ul>
		<li ng-repeat="task in $parent.bucket.group.tasks">
			{{ task }}
		</li>
	</ul>
</span>

<span ng-if="bucket.joinable">  <a ng-click="join_group(bucket.group.pk)">JOIN</a> </span><br />
<span ng-if="bucket.deletable"> <a ng-click="delete_group(bucket.group.pk)"> DELETE</a> </span><br />
<span ng-if="bucket.leavable">  <a ng-click="leave_group(bucket.group.pk)">LEAVE</a> </span><br />
