<h1>Profile</h1>


First Name:  {{ bucket.person.first_name }} <br />
Last Name:  {{ bucket.person.last_name }}<br />
Gender:  {{ bucket.person.gender }}<br />
Points: {{ bucket.person.points }} <br />

Gender: <span ng-if="bucket.person.gender === true">Female</span><span ng-if="bucket.person.gender === false">Male</span> <br />

Groups:<span ng-if="bucket.person.adminOf.length == 0">Not an admin of any group</span> <br />
<span ng-if="bucket.person.adminOf.length != 0">
 	<ul>
		<li ng-repeat="group in bucket.person.groups">
			<a href="#/groups/{{group.pk}}/">{{ group.name }}</a>
		</li>
	</ul>
</span>

Admin of Groups: <span ng-if="bucket.person.adminOf.length == 0">Not an admin of any group</span> <br />
<span ng-if="bucket.person.adminOf.length != 0">
	<ul>
		<li ng-repeat="group in $parent.bucket.person.adminOf">
			<a href="#/groups/{{group.pk}}/">{{ group.name }}</a>
		</li>
	</ul>
</span>

Posts: <span ng-if="bucket.person.posts.length == 0">Not posted anything yet</span> <br />
<span ng-if="bucket.person.posts.length != 0">
	<ul>
		<li ng-repeat="post in $parent.bucket.person.posts">
			{{ post.description }}
		</li>
	</ul>
</span>

Tasks Assigned: <span ng-if="bucket.person.tasksIAssigned.length == 0">No tasks assigned yet</span> <br />
<span ng-if="bucket.person.tasksIAssigned.length != 0">
	<ul>
		<li ng-repeat="task in $parent.bucket.person.tasksIAssigned">
			<a href="#/tasks/{{ task.pk }}"><strong>{{ task.description }}</strong></a> @ <a href="#/groups/{{ task.group.pk }}/">{{ task.group.name }}</a>
		</li>
	</ul>
</span>

Tasks taken: <span ng-if="bucket.person.takentasks.length == 0">No tasks taken yet</span> <br />
<span ng-if="bucket.person.takentasks.length != 0">
	<ul>
		<li ng-repeat="task in $parent.bucket.person.takentasks">
			<a href="#/tasks/{{ task.pk }}"><strong>{{ task.description }}</strong></a> @ <a href="#/groups/{{ task.group.pk }}/">{{ task.group.name }}</a>
		</li>
	</ul>
</span>

Tasks Completed: <span ng-if="bucket.person.completedtasks.length == 0">No tasks completed yet</span> <br />
<span ng-if="bucket.person.completedtasks.length != 0">
	<ul>
		<li ng-repeat="task in $parent.bucket.person.completedtasks">
			<a href="#/tasks/{{ task.pk }}"><strong>{{ task.description }}</strong></a> @ <a href="#/groups/{{ task.group.pk }}/">{{ task.group.name }}</a>
		</li>
	</ul>
</span>

Badges: <span ng-if="bucket.person.badges.length == 0">No badges yet</span> <br />
<span ng-if="bucket.person.badges.length != 0">
	<ul>
		<li ng-repeat="badge in $parent.bucket.person.badges">
			{{ badge.name }}: <strong>{{ badge.points }}</strong>
		</li>
	</ul>
</span>