<div id="container">
  <ul style="list-style: none;">
    
    <h4 >Details</h4>
    <li class="clearfix">
		<h5 style="text-align:center"><span ng-show="bucket.person.first_name == ''">Name</span>
		<span ng-show="bucket.person.first_name != ''"> 
		{{ bucket.person.first_name }} {{ bucket.person.last_name }}
		</span></h5>					
    </li>
    
    <li class="clearfix">
		<h5 style="text-align:center"><span ng-show="bucket.person.first_name == ''">Email</span>
		<span ng-show="bucket.person.first_name != ''"> 
		{{ bucket.person.email }}
		</span></h5>					
    </li>
    
    <li class="clearfix">
		<h5 style="text-align:center"><span ng-show="bucket.person.first_name == ''">Points</span>
		<span ng-show="bucket.person.first_name != ''"> 
		<strong>Points: </strong>{{ bucket.person.points }}
		</span></h5>					
    </li>
    
    <hr />
    <h4>Groups</h4>
    <li class="clearfix" ng-show="bucket.person.groups.length == 0">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.groups.length == 0">You have not joined any group</span>
		</h5>					
    </li>
    <li class="clearfix" ng-repeat="group in bucket.person.groups" ng-show="bucket.person.first_name != ''">
		<a href="#/groups/{{group.pk}}/">
			<h5 style="text-align:center">
				<span ng-show="bucket.person.first_name != ''"> 
					{{ group.name }}
				</span>
			</h5>					
		</a>
    </li>

    <hr />
    <h4>Admin of groups</h4>
    <li class="clearfix" ng-show="bucket.person.adminOf.length == 0">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.adminOf.length == 0">You are not an admin of any group. Create a new group to get started.</span>
		</h5>					
    </li>
    <li class="clearfix" ng-repeat="group in bucket.person.adminOf" ng-show="bucket.person.first_name != ''">
		<a href="#/groups/{{group.pk}}/">
			<h5 style="text-align:center">
				<span ng-show="bucket.person.first_name != ''"> 
					{{ group.name }}
				</span>
			</h5>					
		</a>
    </li>

    <hr />
    <h4>Posts</h4>
    <li class="clearfix" ng-show="bucket.person.posts.length == 0">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.posts.length == 0">You have not posted anything yet.</span>
		</h5>					
    </li>
    <li class="clearfix" ng-repeat="post in bucket.person.posts" ng-show="bucket.person.first_name != ''">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.first_name != ''"> 
				{{ post.description }}
			</span>
		</h5>
    </li>

    <hr />
    <h4>Tasks Assigned</h4>
    <li class="clearfix" ng-show="bucket.person.tasksIAssigned.length == 0">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.tasksIAssigned.length == 0">You haven't assigned any tasks to anyone yet.</span>
		</h5>					
    </li>
    <li class="clearfix" ng-repeat="task in bucket.person.tasksIAssigned" ng-show="bucket.person.first_name != ''">
    	<a href="#/tasks/{{ task.pk }}">
			<h5 style="text-align:center">
				<span ng-show="bucket.person.first_name != ''"> 
					<strong>{{ task.group.name }}:  </strong>{{ task.description }}
				</span>
			</h5>
		</a>
    </li>
    <hr />
    <h4>Tasks Taken</h4>
    <li class="clearfix" ng-show="bucket.person.takentasks.length == 0">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.takentasks.length == 0">You haven't taken up any tasks yet.</span>
		</h5>					
    </li>
    <li class="clearfix" ng-repeat="task in bucket.person.takentasks" ng-show="bucket.person.first_name != ''">
    	<a href="#/tasks/{{ task.pk }}">
			<h5 style="text-align:center">
				<span ng-show="bucket.person.first_name != ''"> 
					<strong>{{ task.group.name }}:  </strong>{{ task.description }}
				</span>
			</h5>
		</a>
    </li>
    <hr />
    <h4>Tasks Completed</h4>
    <li class="clearfix" ng-show="bucket.person.completedtasks.length == 0">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.completedtasks.length == 0">You haven't completed any tasks yet.</span>
		</h5>					
    </li>
    <li class="clearfix" ng-repeat="task in bucket.person.completedtasks" ng-show="bucket.person.first_name != ''">
    	<a href="#/tasks/{{ task.pk }}">
			<h5 style="text-align:center">
				<span ng-show="bucket.person.first_name != ''"> 
					<strong>{{ task.group.name }}:  </strong>{{ task.description }}
				</span>
			</h5>
		</a>
    </li>

    <hr />
    <h4>Badges</h4>
    <li class="clearfix" ng-show="bucket.person.badges.length == 0">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.badges.length == 0">You haven't been awarded any badges yet.</span>
		</h5>					
    </li>
    <li class="clearfix" ng-repeat="badge in bucket.person.badges" ng-show="bucket.person.first_name != ''">
		<h5 style="text-align:center">
			<span ng-show="bucket.person.first_name != ''"> 
				{{ badge.name }}: <strong>{{ badge.points }}</strong>
			</span>
		</h5>
    </li>

  </ul>
</div>



<!-- Gender: <span ng-if="bucket.person.gender === true">Female</span><span ng-if="bucket.person.gender === false">Male</span> <br /> -->
