<h1>Welcome :)</h1>
<div id="container" style="vertical-align:middle;">
  <ul style="list-style: none;">
    <li class="clearfix">
    	<table style="border-spacing:10px 10px;border-collapse: separate;" >
    		<tr>
    			<td><strong>First name: </strong></td>
    			<td>
    				<input style="max-width:80%" type="text" ng-model="first_name" />
				</td>
    		</tr>
    		<tr>
    			<td><strong>Last name: </strong></td>
    			<td><input style="max-width:80%" type="text" ng-model="last_name" /></td>
    		</tr>
    		<tr>
    			<td><strong>Email: </strong></td>
    			<td>
    				<input style="max-width:80%" type="text" ng-model="email">
    			</td>
    		</tr>
    		<tr>
    			<td><strong>Gender:</strong></td>
    			<td>
    				<select  style="max-width:80%"  ng-model="gender"><option value="male">Male</option><option value="female">Female</option></select>
    			</td>
    		</tr>
    		<tr>
	    		<td></td>
    			<td><button ng-click='signup()' class="btn btn-success">Signup!</button></td>
    		</tr>
    	</table>
    </li>
    <li>
    	<h5><strong>Already have an account ?</strong></h5>
    	<table style="border-spacing:10px 10px;border-collapse: separate;" >
    		<tr>
    			<td style="padding-right:10px;"><strong>Email:</strong></td>
    			<td> <input style="max-width:80%" type="text" ng-model="lost_email"></td>
    		</tr>
    		<tr><td></td><td><button class="btn btn-success" ng-click="get_lost_password_mail()">Get access code!</button></td></tr>
    	</table>
    </li>
    <li>
    	<h5><strong>Received an access code ?</strong></h5>
    	<table style="border-spacing:10px 10px;border-collapse: separate;" >
    		<tr>
    			<td style="padding-right:10px;"><strong>Access Code: </strong></td>
    			<td><input style="max-width:80%" type="text" ng-model="lost_access_code"></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td>
    				<button class="btn btn-info" ng-click="give_lost_access_code()">Login!</button>
    			</td>
    		</tr>
    	</table>
    </li>
    <hr />
  </ul>
</div>