<h2>Assign a new task</h2>
<div id="container" style="vertical-align:middle;">
  <ul style="list-style: none;">
    <li class="clearfix">
    	<table style="border-spacing:10px 10px;border-collapse: separate;" >
    		<tr>
    			<td><strong>Task details: </strong></td>
    			<td style="min-width:30%; max-width:70%">
    				<textarea type="text" ng-model="description" /></textarea>
				</td>
    		</tr>
    		<tr>
    			<td><strong>Points: </strong></td>
    			<td><input type="text" ng-model="points" /></td>
    		</tr>
    		<tr>
    			<td><strong>Assign to: </strong></td>
    			<td>
					<select ng-model="assignee">
						<option value="">Anyone can join</option>
						<optgroup ng-repeat="member in bucket.group.members">
							<option value="{{ member.pk }}"> {{ member.name }} </option>
						</optgroup>
					</select>    				
    			</td>
    		</tr>
    		<tr>
    			<td colspan="2"><button ng-click='create_task()' class="btn btn-success">Create Task</button></td>
    		</tr>
    	</table>
    </li>
  </ul>
</div>