MySQL-python==1.2.3
Django==1.6.5
simple-db-migrate==2.0.0
django-debug-toolbar==1.0.1
django-admin-tools==0.5.1
dj-database-url==0.2.2
dj-static==0.0.5
static==0.4
django-cors-headers==1.0.0
psycopg2==2.5.4
